:root {
    --main-blue: #59afff;
    --blue-shadow: #3972a8;
    --container-bg: #e9fbff;
    --font-color: #595959;
}

body {
    background-color: var(--main-blue);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

#container {
    max-width: min(600px, 80vw);
    aspect-ratio: 6/4;
    overflow: hidden;
    box-shadow: 10px 10px 17px var(--blue-shadow);
    background-color: var(--container-bg);
    border-radius: 13px;
    padding: 30px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 0.3s, box-shadow 0.3s;
}

h1 {
    color: var(--font-color);
    text-align: center;
    font-size: 199%;
    margin: 0;
    transition: color 0.3s;
}

.quote-container {
    color: var(--font-color);
    margin: 0;
    font-size: 175%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin-bottom: 0;
    transition: color 0.3s;
}

#quote {
    font-size: 74.1%;
}

#quotee {
    color: var(--font-color);
    margin: 5px 0 0 0;
    text-align: right;
    font-style: italic;
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
    transition: color 0.3s;
}

hr {
    border-color: rgb(206, 206, 206);
}

#buttons {
    display: flex;
    margin: 20px 0 5px 0;
    gap: 3px;
}

.footer-btn {
    border: 1px solid #59afff;
    border-radius: 25px;
    cursor: pointer;

}

.action-btn {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: box-shadow 300ms, background-color 200ms;
}

.action-btn:hover {
    box-shadow: 0 0 7px #59afff;
}

.action-btn:active {
    background-color: #59afff;
}

#new-quote {
    padding: 0 3.7%;
    background-color: #59afff;
    color: #e9fbff;
    font-size: 100%;
    margin-left: auto;
    transition: box-shadow 300ms, color 200ms;
}

#new-quote:hover {
    box-shadow: 0 0 7px #59afff;
}

#new-quote:active {
    color: #59afff;
} 

img {
    width: 80%;
    height: auto;
}